name: Update RSS
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install requests beautifulsoup4 feedgen lxml

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          # Добавяме само папката feeds
          git add feeds/*.xml
          if git diff --staged --quiet; then
            echo "No changes"
          else
            git commit -m "Update RSS feeds in folder"
            git push origin main
          fi
