name: Update RSS
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install requests beautifulsoup4 feedgen lxml

      - name: Run Scraper
        run: python scraper.py

     - name: Save and Force Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add *.xml  # Това ще добави и econ.xml, и dnes.xml
          if ! git diff --quiet --staged; then
            git commit -m "Update multiple RSS feeds"
            git push origin main --force
          else
            echo "No changes detected."
          fi
