name: Update RSS
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install requests beautifulsoup4 feedgen lxml

      - name: Run Scraper
        run: python scraper.py

      - name: Deploy to Main
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          
          # Изрично добавяме само двата файла
          git add econ.xml dnes.xml
          
          # Проверяваме дали има промени и комитваме
          if git diff --staged --quiet; then
            echo "Няма промени в новините."
          else
            git commit -m "Update RSS feeds"
            # Използваме специфичен метод за качване, който заобикаля workflow защитата
            git push origin main
          fi
